/* UNIVERSAL */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* MAIN */
.main-app-grid {
    display: grid;
    grid-template:
        "left-nav header" 50px
        "left-nav  main " 1fr
        "footer footer " 150px/
        180px 1fr;

    min-height: 100vh;
    min-width: 100vw;

}

.main {
    grid-area: main;
}



/* LEFT-NAV */
.left-nav {
    grid-area: left-nav;
    list-style: none;
}

.left-nav-list {
    display: grid;
    grid-template-rows: repeat(6, 70px);
    place-items: center;
}

.left-nav-list li {
    list-style: none;
}

.links {
    display: grid;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 70px;
    place-content: center;
}

.links:hover {
    transform: scale(1.06);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.links:active {
    transform: scale(1);
    box-shadow: none;
}

/* FOOTER */

.footer {
    grid-area: footer;
}

.footer-area {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0));
    width: 100%;
}

.footer-area p {
    position: absolute;
    color: white;
    left: 40%;
    bottom: 10px
}

.animation-items {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.animation-items li {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.168);
    animation: animate 100s linear infinite;
    bottom: 0px;
}

.animation-items li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-duration: 7s;
}

.animation-items li:nth-child(2) {
    left: 40%;
    width: 30px;
    height: 30px;
    animation-duration: 10s;
}

.animation-items li:nth-child(3) {
    left: 12%;
    width: 100px;
    height: 100px;
    animation-duration: 12s;
}

.animation-items li:nth-child(4) {
    left: 55%;
    width: 55px;
    height: 55px;
    animation-duration: 29s;
}

.animation-items li:nth-child(5) {
    left: 72%;
    width: 60px;
    height: 60px;
    animation-duration: 33s;
}

.animation-items li:nth-child(6) {
    left: 95%;
    width: 30px;
    height: 30px;
    animation-duration: 18s;
}

.animation-items li:nth-child(7) {
    left: 32%;
    width: 80px;
    height: 80px;
    animation-duration: 25s;
}

.animation-items li:nth-child(8) {
    left: 3%;
    width: 80px;
    height: 80px;
    animation-duration: 22s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    50% {
        transform: translateY(-150px) rotate(180deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-300px) rotate(360deg);
        opacity: 0;
    }
}




/* SOCIAL LINKS */
.header {
    grid-area: header;
}

.socialsSvg {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.527);
    border: white solid 2px;
    border-radius: 10px;
}

.socialsSvg:hover {
    background-color: rgb(255, 255, 255);
}

.socialsNav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 8px;
    margin: 10px;
    list-style: none;
}



/* BACKGROUND COLOURS / IMAGES*/
.babyBlue {
    background: linear-gradient(to right, #3bb5c3, #3bb5c384);
}

.rawBabyBlue {
    background-color: #3bb5c3;
}

.navyBlue {
    background: linear-gradient(to right, #11365C, #11375cea);
}

.rawNavyBlue {
    background-color: #11365C;
}

.forestGreen {
    background: linear-gradient(to right, #023e02, #023e02a4);
}

.rawForestGreen {
    background-color: #023e02;
}

.burntRed {
    background: linear-gradient(to right, #ba4141, #ba4141dc);
}

.rawBurntRed {
    background-color: #ba4141;
}

.peach {
    background: linear-gradient(to right, #f88068, #f88068c7);
}

.rawPeach {
    background-color: #f88068;
}

.cream {
    background: linear-gradient(to right, #f4d1AD, #f4d1adb4);
}

.rawCream {
    background-color: #f4d1AD;
}

.backgroundImageSizing {
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin: 30px 30px 30px 80px;
    border-radius: 8px;
}

.backgroundImageTrees {
    background-image: url("/assets/images/trees.jpg");
}

.backgroundImageRevy {
    background-image: url("/assets/images/revy.jpg");
}

.backgroundImageTech {
    background-image: url("/assets/images/tech.jpg");
}

.backgroundImageGrad {
    background-image: url("/assets/images/grad.jpg");
}

.backgroundImageMotherboard {
    background-image: url("/assets/images/motherboard.jpg");
}

.backgroundImagePapers {
    background-image: url("/assets/images/papers.jpg");
    object-position: 20% 20%;
}

.matchImage {
    border: 1px grey solid;
    border-radius: 5px;

    width: 90%;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(6px);
}


/* HOME */
.home-container {
    display: grid;
    place-items: center;
}

.introduction h1 {
    margin-bottom: 10px;
    font-size: 70px;
}

.introduction p {
    font-size: 15px;
    font-weight: bold;
}

/* ABOUT-ME */
.about-wrapper {
    background-color: black;
}

.aboutme {
    display: grid;
    grid-template:
        "text image"
        "text image"
        "text image"
        "text image"
        "text image"
        "text image";
    margin: 20px;
    gap: 15px;
}

.aboutme h1 {
    font-size: 40px;
}

.aboutme h1 p h2 {
    grid-area: text;
}

.aboutme p {
    font-size: 20px;
}

.lukasImage {
    grid-area: image;
    width: 100%;
    border-radius: 10px;
}

/* PROJECTS */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    backdrop-filter: blur(4px);
    justify-items: center;

    overflow-y: scroll;
}

.projects-container::-webkit-scrollbar {
    display: none;
}

.card {
    display: grid;
    place-items: center;
    text-align: center;
    width: 230px;
    height: 300px;
    background-color: #ba4141d0;
    border: black 2px solid;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
    transition: all 200ms;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 10px 20px;
}

/* EDUCATION / EXPERIENCE */
.education-container {
    display: grid;
    grid-template-rows: auto;
}

.education {
    margin: 10px;
}

.education li {
    list-style-type: none;
}

.education h1 {
    font-size: 40px;
}

.education h2 {
    margin-bottom: 5px;
    text-decoration: underline;
    font-size: 20px;
}

/* TECH STACK */
.tech-stack-container {
    backdrop-filter: blur(4px);
    text-align: center;
}

.tech-stack-container h1 {
    margin-top: 10px;
    font-size: 40px;
}

.techStack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

    place-items: center;

    list-style: none;
    margin: 50px;
}

.techSvgs {
    width: 160px;
}

.techSvgs:hover {
    scale: 1.1;
}

.techSvgs:active {
    scale: .9;
}

/* MESSAGE ME */

.form-container {
    display: grid;
    width: 90%;

    backdrop-filter: blur(4px);

    text-align: center;
    place-items: center;
}

.messageForm {
    display: grid;
    grid-template-rows: auto;
    width: 40%;
    height: 600px;
    padding: 20px;
    margin: 30px;

    text-align: start;

    background-color: rgb(255, 255, 255);
    border: black 1px solid;
    border-radius: 10px;
}

.messageForm h1 {
    text-align: center;
}

.messageForm input {
    border: none;
    width: 100%;
    height: 50px;
    outline: none;
}

.messageForm textarea {
    width: 100%;
    height: 100px;
}

.messageForm label {
    font-weight: bold;
}

.submitButton {
    background-color: #3bb5c3;
    color: white;
    border-radius: 25px;
}

.submitButton:hover {
    color: black;
    border: black 2px solid;
}

.submitButton:active {
    box-shadow: 2px 2px 2px black;
}

/* Small monitor screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main-app-grid {
        grid-template:
            "left-nav header" 50px
            "left-nav main" 1fr
            "footer footer" auto /
            150px 1fr;
    }

    .links {
        width: 150px;
    }

    .backgroundImageSizing {
        width: 95%;
        margin: 20px 20px 20px 60px;
    }
}

/* Tablet screens */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main-app-grid {
        grid-template:
            "header header" auto
            "left-nav main" 1fr
            "footer footer" auto /
            120px 1fr;
    }

    .links {
        width: 120px;
    }

    .backgroundImageSizing {
        width: 95%;
        margin: 20px 10px;
    }

    .messageForm {
        width: 60%;
    }
}


/* Mobile screens */
@media screen and (max-width: 480px) {
    * {
        margin: revert;
    }

    .main-app-grid {
        grid-template:
            "header" auto
            "left-nav" auto
            "main" 1fr
            "footer" auto /
            1fr;
    }

    .left-nav-list {
        display: block;
    }

    .links {
        width: 100%;
        height: 50px;
        background-size: cover;
    }

    .backgroundImageSizing {
        width: 100%;
        margin: 10px 0;
    }

    .aboutme {
        grid-template:
            "image"
            "text";
        gap: 10px;
    }

    .messageForm {
        width: 90%;
    }

    .matchImage {
        width: auto;
        padding: 5px;
        margin: 0px;
    }

    .socialsNav {
        justify-content: center;
    }

    .footer-area p {
        position: relative;
        left: 0;
        bottom: 0;
        text-align: center;
    }

    .techStack {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .techSvgs {
        width: 100px;
    }

    .card {
        height: auto;
    }

    .babyBlue {
        background-color: #3bb5c3;
    }

    .navyBlue {
        background-color: #11365C;
    }

    .forestGreen {
        background-color: #023e02;
    }

    .burntRed {
        background-color: #ba4141;
    }

    .peach {
        background-color: #f88068;
    }

    .cream {
        background-color: #f4d1AD;
    }

    .animation-items li {
        bottom: revert;
    }
}