/* UNIVERSAL */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
}

/* MAIN */
.main-app-grid {
    display: grid;
    grid-template:
        "left-nav header" 50px
        "left-nav  main " 1fr
        "footer footer " 150px/
        180px     1fr;

        height: 100vh;
        width: 100vw;
}

.main {
    grid-area: main;
}



/* LEFT-NAV */
.left-nav {
    grid-area: left-nav;
    list-style: none;
}

.left-nav-list {
    display: grid;
    grid-template-rows: repeat(6, 70px);
    place-items: center;

}

.left-nav-list li {
    list-style: none;
}

.links {
    display: grid;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 70px;
    place-content: center;
}

.links:hover {
    transform: scale(1.06);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.links:active {
    transform: scale(1);
    box-shadow: none;
}

/* FOOTER */

.footer {
    grid-area: footer;
}

.footer-area{
    background: linear-gradient(to left, #ba4141, #11365C);
    border: red solid 2px;
    width: 100%;
    height: 150px;
}

.animation-items{
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.animation-items li {
    position: absolute;
    display: block;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.096);
    animation: animate 20s linear infinite;
    bottom: 0px;
}

.animation-items li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 3.5s;
    animation-duration: 7s;
}
.animation-items li:nth-child(2){
    left: 40%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 10s;
}
.animation-items li:nth-child(3){
    left: 12%;
    width: 100px;
    height: 100px;
    animation-delay: 0.5s;
    animation-duration: 15s;
}
.animation-items li:nth-child(4){
    left: 55%;
    width: 55px;
    height: 55px;
    animation-delay: 4s;
    animation-duration: 20s;
}
.animation-items li:nth-child(5){
    left: 72%;
    width: 60px;
    height: 60px;
    animation-delay: 1.5s;
    animation-duration: 9s;
}
.animation-items li:nth-child(6){
    left: 95%;
    width: 30px;
    height: 30px;
    animation-delay: 6s;
    animation-duration: 18s;
}
.animation-items li:nth-child(7){
    left: 32%;
    width: 80px;
    height: 80px;
    animation-delay: 2.5s;
    animation-duration: 25s;
}
.animation-items li:nth-child(8){
    left: 3%;
    width: 80px;
    height: 80px;
    animation-delay: .7s;
    animation-duration: 12s;
}

@keyframes animate{
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1,
    }
    100% {
        transform: translateY(-300px) rotate(360deg);
        opacity: 0,
    }
}




/* SOCIAL LINKS */
.header {
    grid-area: header;
}

.SocialsSvg {
    width: 30px;
    background-color: black;
}

.socialsNav {
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    gap: 8px;
    margin: 10px;
    list-style: none;
}

/* BACKGROUND COLOURS / IMAGES*/

.babyBlue {
    background-color: #3bb5c3;
}

.navyBlue {
    background-color: #11365C;
}

.forestGreen {
    background-color: rgb(2, 62, 2);
}

.burntRed {
    background-color: #ba4141;
}

.peach {
    background-color: #f88068;
}

.cream {
    background-color: #f4d1AD;
}

.backgroundImageTrees {
    background-image: url("../assets/images/trees.jpg");
    width: 80%;
    height: 500px;
    margin: 30px 30px 30px 80px;
    border-radius: 10px;
}

.backgroundImageRevy {
    background-image: url("../assets/images/revy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -150px;
    width: 80%;

    margin: 30px 30px 30px 80px;
    border-radius: 10px;
}

.backgroundImageTech {
    background-image: url("../assets/images/tech.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;

    margin: 30px 30px 30px 80px;
    border-radius: 10px;
}

.backgroundImageGrad {
    background-image: url("../assets/images/grad.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;

    margin: 30px 30px 30px 80px;
    border-radius: 10px;
}

.backgroundImageMotherboard {
    background-image: url("../assets/images/motherboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;

    margin: 30px 30px 30px 80px;
    border-radius: 10px;
}

.backgroundImagePapers {
    background-image: url("../assets/images/papers.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;

    margin: 30px 30px 30px 80px;
    border-radius:10px;
}

/* HOME */
.home-container {
    display: grid;
    place-items: center;
    border: 1px grey solid;
    border-radius: 10px;

    width: 80%;
    height: 500px;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(6px);
}

.introduction h1 {
    margin-bottom: 10px;
    font-size: 70px;
}

.introduction p {
    font-size: 15px;
    font-weight: bold;
}

/* ABOUT-ME */
.about-container {
    border: 1px grey solid;
    border-radius: 10px;

    width: 80%;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(8px);
}

.aboutme {
    display: grid;
    grid-template:
        "text image"
        "text image"
        "text image"
        "text image"
        "text image"
        "text image";
    margin: 20px;
    gap: 15px;
}

.aboutme h1 {
    font-size: 40px;
}

.aboutme h1 p h2 {
    grid-area: text;
}

.aboutme p {
    font-size: 20px;
    font-weight: bold;
}

.lukasImage {
    grid-area: image;
    width: 100%;
    border-radius: 10px;
}

/* PROJECTS */
.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));

    border: 1px grey solid;
    border-radius: 10px;

    width: 80%;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(4px);
}

.card {
    display: grid;
    place-items: center;
    text-align: center;
    width: 230px;
    height: 300px;
    background-color: #245a8fa8;
    border-radius: 10px;
    margin: 10px;
    transition: all 200ms;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 10px 20px;
}

/* EDUCATION / EXPERIENCE */
.education-container {
    display: grid;
    grid-template-rows: auto;
    border: 1px grey solid;
    border-radius: 10px;

    width: 80%;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(8px);
}

.education {
    margin: 10px;
}

.education li {
    list-style-type: none;
}

.education h1 {
    font-size: 40px;
}

.education h2 {
    margin-bottom: 5px;
    text-decoration: underline;
    font-size: 20px;
}

/* TECH STACK */
.tech-stack-container {
    border: 1px grey solid;
    border-radius: 10px;

    width: 80%;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(4px);

    text-align: center;
}

.tech-stack-container h1 {
    margin-top: 10px;
    font-size: 40px;
}

.techStack {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    place-items: center;

    list-style: none;
    margin: 50px;
}

.techSvgs{
    width: 150px;
}

/* MESSAGE ME */

.form-container {
    display: grid;
    border: 1px grey solid;
    border-radius: 10px;

    width: 70%;
    margin: 30px 30px 30px 80px;

    background: rgba(255, 255, 255, 0.315);
    backdrop-filter: blur(4px);

    text-align: center;
    place-items: center;
}

.messageForm {
    display: grid;
    grid-template-rows: auto;
    width: 60%;
    height: 600px;
    padding: 20px;
    margin: 30px;

    text-align: start;


    background-color: rgb(255, 255, 255);
    border: black 1px solid  ;
    border-radius: 10px;
}

.messageForm h1 {
    text-align: center;
}

.messageForm input {
    border: none;
    width: 100%;
    height: 50px;
    outline: none;
}

.messageForm textarea {
    width: 100%;
    height: 100px;
}

.messageForm label {
    font-weight: bold;
}

.submitButton {
        background-color: #3bb5c3;
        color: white;
        border-radius: 25px;
}

.submitButton:hover{
    color: black;
    border: black 2px solid;
}

.submitButton:active{
    box-shadow: 2px 2px 2px black;
}
